<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>On macOS 14 Sonoma and Later, Location Services permission is required to get Wi-Fi SSIDs. Please enable Location Services in System Preferences &gt; Security &amp; Privacy &gt; Privacy &gt; Location Services.</string>
	<key>CFBundleIdentifier</key>
	<string>io.github.kaoru.tiny-wifi-analyzer</string>
	<key>CFBundleName</key>
	<string>Tiny Wi-Fi Analyzer</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>SUFeedURL</key>
	<string>https://github.com/SHIINASAMA/tiny-wifi-analyzer/releases/download/appcast.xml</string>
</dict>
</plist>
